
@{
    ViewData["Title"] = "Verifique";
}

<br />
<br />
<h2>No fue posible crear el vale.</h2>
<hr />
<h4>
    Verifique que el folio ingresado coincida con el rango de folios de la talonera e igualmente compruebe
    que el folio no se encuentre ya registrado dentro de esa talonera
</h4>

<br />
<a href="javascript:void(0);" onclick="history.go(-1);" class="btn btn-primary">Volver a intentar</a>

