@model SAC_VALES.Web.Models.LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>

<div class="row">
    <div class="col-md-4 offset-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly"></div>

            <div class="form-group">
                <label asp-for="Username">Email</label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-warning"></span>
            </div>
            <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>

            <div class="form-group">
                <label asp-for="Contraseña">Contraseña</label>
                <input asp-for="Contraseña" type="password" class="form-control" />
                <span asp-validation-for="Contraseña" class="text-warning"></span>
            </div>

            <div class="form-group">
                <div class="form-check">
                    <input asp-for="Recuerdame" type="checkbox" class="form-check-input" />
                    <label asp-for="Recuerdame" class="form-check-label">Recordar Usuario</label>
                </div>
                <span asp-validation-for="Recuerdame" class="text-warning"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-success" />
            </div>
        </form>
        <li><a asp-controller="Account" asp-action="Register">Registrarse como Distribuidor</a></li>
        <li><a asp-controller="Account" asp-action="Register" asp-route-id="1">Registrarse como Cliente</a></li>
        <h1>Reset Your Password</h1>

        <form asp-controller="Account"
              asp-action="SendPasswordResetLink"
              method="post">

            <table>
                <tr>
                    <td>
                        <label asp-for="Username">
                            User Name :
                        </label>
                    </td>
                    <td><input name="UserName" type="text" /></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit"
                               value="Reset Password" />
                    </td>
                </tr>
            </table>
            <strong>@ViewBag.Message</strong>
            <div asp-validation-summary="All"></div>

        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
