@model IEnumerable<SAC_VALES.Web.Data.Entities.UsuarioEntity>

@{
    ViewData["Title"] = "Index";
}

<h2>Distribuidores Registrados</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
           
        </tr>
}
    </tbody>
</table>
