@model SAC_VALES.Web.Data.Entities.TaloneraEntity

@{
    ViewData["Title"] = "Create";
}

<h2>Registrar Talonera</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <label class="control-label">Correo de la empresa</label>
        <h5>@ViewBag.emailEmpresa</h5>
        <br />
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RangoInicio" class="control-label"></label>
                <input asp-for="RangoInicio" class="form-control" />
                <span asp-validation-for="RangoInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RangoFin" class="control-label"></label>
                <input asp-for="RangoFin" class="form-control" />
                <span asp-validation-for="RangoFin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
