
@model SAC_VALES.Web.Data.Entities.TaloneraEntity

@{
    ViewData["Title"] = "Cancelar Talonera";
}

<h2>¿Estás seguro de que quieres cancelar esta talonera?</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Eliminar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>@Html.ValidationSummary()</div>
            <input type="hidden" asp-for="id" />
            <input type="hidden" asp-for="RangoInicio" />
            <input type="hidden" asp-for="RangoFin" />
            <input type="hidden" asp-for="StatusTalonera" />
            <div class="form-group">
                <input type="submit" value="Cancelar" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a href="javascript:void(0);" onclick="history.go(-1);">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
