
@{
    ViewData["Title"] = "Verifique";
}

<br />
<br />
<h2>No fue posible crear la talonera.</h2>
<hr />
<h4>
    Verifique el que primer número de folio que ha ingresado sea menor que el ultimo número de folio que ha ingresado.
</h4>

<br />
<a href="javascript:void(0);" onclick="history.go(-1);" class="btn btn-primary">Volver a intentar</a>

